<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djn.order.mapper.OrderMapper">
    <select id="findById" resultType="order">
        select * from tb_order where id = #{orderId}
    </select>

    <insert id="insertOperInfo">
        insert into tb_oper_log (oper_time, oper_type) value (#{operTime}, #{operType})
    </insert>
</mapper>